@import url("https://use.typekit.net/qvl8bhx.css");
@import url("https://use.typekit.net/emb1ncn.css");

:root {
  --black: rgb(10, 10, 10);
  --white: rgb(243, 221, 231);
  --white-opaque: rgba(243, 221, 235, 0.5);
  --dark: rgb(22, 22, 22);
  --dark-opaque: rgb(22, 22, 22, 0.7);
  --mid-dark: rgb(40, 40, 40);
  --mid: rgb(60, 60, 60);
  --mid-opaque: rgba(90, 90, 90, 0.7);
  --light: rgb(247, 193, 189);
  --light-opaque: rgb(247, 193, 189, 0.7);
  /* --accent: rgb(198, 96, 138); */
  --accent: rgba(198, 96, 138, 0.9);
  --accent-opaque: rgba(198, 96, 138, 0.6);

  --accent-dark: rgb(161, 63, 120);
  --green: rgb(14, 160, 58);
  --red: rgb(200, 70, 70);

  /* --white: rgb(243, 221, 235); */
  /* --light: rgb(255, 200, 228); */
  /* --accent: rgb(198, 96, 155); */
  /* --accent-opaque: rgba(220, 125, 180, 0.6); */
  /* --accent-dark: rgb(178, 75, 135); */

  --background-gradient-light: linear-gradient(
    0deg,
    var(--light) 0%,
    var(--white) 100%
  );
  --background-gradient-dark: linear-gradient(
    0deg,
    var(--black) 0%,
    var(--dark) 100%
  );

  --br: 4px;
  --bs: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --button-font-size: 1rem;

  /* move these to point bar file when it's ready */
  /* --gold: rgb(251, 211, 9, 0.2);
  --green: rgb(14, 160, 58, 0.2);
  --red: rgb(200, 70, 70, 0.2);
  --greenBorder: rgb(14, 160, 58, 0.5);
  --redBorder: rgb(200, 70, 70, 0.5);
  --goldBorder: rgb(251, 211, 9, 0.4);
  --silver: rgb(130, 130, 130, 0.2);
  --silverBorder: rgb(130, 130, 130, 0.5);
  --orange: rgb(232, 164, 69, 0.2);
  --orangeBorder: rgb(232, 164, 69, 0.5);
  --orangeSolid: rgb(232, 164, 69);
  --yellow: rgb(255, 240, 14, 0.2);
  --yellowBorder: rgb(255, 240, 14, 0.5);
  --blue: rgb(39, 221, 239, 0.2);
  --blueBorder: rgb(39, 221, 239, 0.4); */

  --margin-mobile: 1rem;
  --margin-desktop: 1rem;
  --queen-image-height: 55px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "transducer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  background: var(--background-gradient-light);
  background-color: var(--white);
}

body * {
  color: var(--dark);
}

@media (prefers-color-scheme: dark) {
  body * {
    color: var(--light);
  }
}

main {
  position: relative;
  z-index: 50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--margin-mobile);
}

h1,
h1 * {
  color: var(--dark);
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  position: relative;
  z-index: 10;
}

.page-title > div {
  margin-bottom: -1rem;
}

.title-accent {
  color: var(--accent);
}

.title-text {
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--dark);
}

.page-title::after {
  /* need to set width and transform inside components css module */
  content: "";
  height: 0.75rem;
  border-radius: 2px;
  background-color: var(--accent);
}

.test-div {
  width: 100%;
  height: 300px;
  border: 5px solid var(--mid);
  border-radius: 2px;
  margin: 1rem 0;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-gradient-dark);
    background-color: var(--dark);
  }

  h1,
  h1 * {
    color: var(--accent);
  }

  .page-title::after {
    background-color: var(--mid);
  }

  .title-text {
    color: var(--light);
  }
}

/******** Desktop Styles ********/
