.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0 4rem;
}

.title::after {
  width: 120%;
  transform: translateY(-30px) skewX(-15deg);
}
