/* animations are inside media query at the bottom of this file */

.container {
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  overflow: hidden;
  width: 100%;
}

.form {
  --color: var(--mid);
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: min(400px, 100%);
  font-weight: 600;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
}

.invalidMessage {
  margin-left: 1rem;
  color: var(--red);
  display: none;
  font-size: 0.8rem;
}

.error {
  display: block;
}

.signUpInput:has(:invalid:not(:focus):not(:placeholder-shown)) .invalidMessage {
  display: block;
}

.form label {
  font-weight: 600;
}

.form input {
  position: relative;
  z-index: 20;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;
  background: none;
  border: none;
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid var(--color);
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* .form input {
  position: relative;
  z-index: 20;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;
  background: var(--white);
  border: 2px solid var(--color);
  border-radius: var(--br);
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: var(--br);
} */

.form input::placeholder {
  color: var(--accent-opaque);
}

.form input:focus-visible {
  border: 3px solid var(--dark);
}

.signUpInput:has(:invalid) {
  --color: var(--red);
}

.signUpInput:has(:placeholder-shown) {
  --color: var(--mid);
}

.loginButton > button {
  width: 100%;
  margin-top: 3.3rem;
  /* this stops the animation flickering before the view is changed */
  transform: translateZ(0);
}

.loading {
  opacity: 0.4;
  transition: 100ms;
}

.duck {
  font-size: 2rem;
  align-self: end;
  margin-top: 2rem;
}

.footer {
  position: fixed;
  bottom: 3rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}

.switchViewButton {
  margin-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .form {
    --color: var(--white);
  }

  .form input:focus-visible {
    border: 3px solid var(--accent);
  }

  .form input::placeholder {
    color: var(--mid);
  }

  .signUpInput:has(:placeholder-shown) {
    --color: var(--light);
  }

  .switchViewButton {
    color: var(--light);
    /* border: none; */
  }

  .switchViewButton:hover {
    transform: scale(1.05);
  }
}

/******** ANIMATIONS ********/

@media (prefers-reduced-motion: no-preference) {
  .signUpInput:has(:invalid:not(:focus):not(:placeholder-shown)) {
    animation: shake 300ms;
  }

  .inputContainer:has(.error) {
    --color: var(--red);
    animation: shake 300ms;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(-2%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(2%);
    }
  }

  .slideDown {
    animation: slide-down 400ms both, opacity-1 400ms backwards;
    animation-delay: 100ms;
  }

  .slideUp {
    animation: slide-up 400ms both, opacity-0 400ms forwards;
  }

  .buttonSlideDown {
    animation: slide-down 400ms;
  }

  .buttonSlideUp {
    animation: slide-up 400ms backwards;
    animation-delay: 100ms;
  }

  .labelSlideDown {
    animation: label-slide-down 400ms both;
    animation-delay: 100ms;
  }

  .labelSlideUp {
    animation: label-slide-up 400ms forwards;
  }

  .duck {
    animation: 700ms infinite spin;
    animation-timing-function: linear;
  }

  @keyframes label-slide-up {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(90px);
    }
  }

  @keyframes label-slide-down {
    0% {
      transform: translateY(40px);
    }

    25% {
      transform: translateY(40px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @keyframes opacity-0 {
    0% {
      opacity: 1;
    }

    60% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes opacity-1 {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(-2%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(2%);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-100px);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
