.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--marginDesktop);
}

.container > h1 {
  font-weight: 700;
  text-transform: lowercase;
}

.submit {
  border: 2px solid var(--greenSolid);
  color: var(--greenSolid);
  border-radius: var(--br);
  padding: 0.5rem;
  font-weight: 500;
  text-transform: lowercase;
  transition: 400ms;
}

.submit:hover {
  background: var(--greenBorder);
  color: var(--light);
}

@media only screen and (max-width: 768px) {
  .container {
    padding: var(--marginMobile)
  }

  .container > h1 {
    font-size: 1.5rem;
  }
}