.container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.form {
  position: fixed;
  top: 1rem;
  margin: 0 1rem;

  /* display: flex; */
  /* flex-direction: column; */
  width: min(400px, 100%);
}

.form label {
  padding: 0 0.3rem 0.5rem;
}

.form input {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: var(--black);
  border: none;
  border: var(--border2);
  border-radius: var(--br);
}

.form input::placeholder {
  color: var(--mid);
  font-size: 1rem;
}

.inputContainer {
  /* width: 400px; */
  display: flex;
  flex-direction: column; 
  padding: 1rem;
  transition: 500ms;
  border-radius: var(--br);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.form > div {
  position: absolute;
  width: 100%;
}

.form > div.hiddenRight {
  transform: translateX(1000%);
}

/* .inputContainer:last-of-type{
  transform: translate(0%, -100%);
} */

/* .inputContainer:last-of-type.hiddenRight {
  transform: translate(1000%, -100%); 
} */

.hiddenLeft {
  transform: translate(-1000%, 0%); 
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputContainer:first-of-type .buttons {
  justify-content: flex-end;
}

.backButton {
  height: 20px;
  width: 20px;
  border: 3px solid var(--accent);
  border-width: 0 3px 3px 0;
  transform: rotate(135deg);
  margin-left: 0.5rem;
  transition: 300ms;
}

.backButton:hover {
  transform: rotate(135deg) scale(1.3);
}

.submitButton {
  text-align: center;
  background: none;
  border: 2px solid var(--accent);
  border-radius: var(--br);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 50%;
  transition: 300ms;
  align-self: flex-end;
}

.submitButton:hover {
  background: var(--lightOpaque);
  border-color: var(--accent);
}

.categoryHeader {
  font-size: 1rem;
  color: var(--accent);
  margin-bottom: 0.5rem;
}

.displayName {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* 
.displayHouseName::before {
  content: "haus of";
  position: absolute;
  color: var(--lightOpaque);
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  top: -19px;
  left: -10px;
} */

.displayHouseName {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: center;

  /* margin-right: 1rem; */
  /* margin: 0 1rem 0.5rem; */

}

@media only screen and (max-width: 432px) {
  .container {
    width: 100%;
  }
}