.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: var(--marginDesktop);
  width: 100%;
}

.container:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-right: var(--marginMobile);
  }
}