.container {
  display: flex;
}

.queenName {
  font-weight: 600;
}

.imageContainer {
  position: relative;
  height: var(--queen-image-height);
  min-width: var(--queen-image-height);
  max-width: var(--queen-image-height);
  object-fit: contain;
  margin-right: 1rem;
}

.imageContainer img {
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
}