.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  width: fit-content;
  transition: 300ms;
}

/* sets standard font styles for Button component */
/* set --button-font-size in button wrapper to change font size for specific buttons */
/* 
  .wrapper {
    --button-font-size: 1.5rem
  }
*/

.button * {
  transition: 300ms;
  font-weight: 800;
  text-decoration: none;
  font-size: var(--button-font-size);
}

.solid {
  padding: 0.5rem 1rem;
  font-weight: 800;
  text-decoration: none;
  border-radius: var(--br);
  background: linear-gradient(0deg, var(--dark) 0%, var(--mid) 100%);
  cursor: pointer;
  /* box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.solid * {
  color: var(--light);
}

.underline {
  background: none;
  text-decoration: none;
  padding: 0 4px;
  border-bottom: 2px solid var(--accent);
}

.underline:hover {
  transform: scale(1.025);
}

@media (prefers-color-scheme: dark) {
  .solid {
    /* background: var(--accent); */
    background: linear-gradient(
      0deg,
      var(--accent-dark) 0%,
      var(--accent) 100%
    );

    color: var(--dark);
  }

  .solid * {
    color: var(--dark);
  }

  .underline * {
    color: var(--light);
  }
}

/******** Desktop Styles ********/

@media (width > 768px) {
  .solid:hover {
    transform: skewX(-15deg);
  }

  .solid * {
    transition: 300ms;
  }

  .solid:hover * {
    transform: skewX(15deg);
  }
}
