@import url("https://use.typekit.net/qvl8bhx.css");
@import url("https://use.typekit.net/emb1ncn.css");

:root {
  --black: #0A0A0A;
  --white: #f3dceb;
  --dark: #161616;
  --mid: #323232;
  --midOpaque: rgba(90, 90, 90, 0.2);
  --light: #ffc8e4;
  --lightOpaque: rgb(255, 207, 231, 0.2);
  /* --accent: rgba(220, 125, 180); */
  --accent: #c6609b;
  --accentOpaque: rgba(220, 125, 180, 0.6);
  --br: 4px;
  --border1: 1px solid var(--lightOpaque);
  --border2: 2px solid var(--lightOpaque);
  --bs: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --green: rgb(14, 160, 58, 0.2);
  --greenSolid: rgb(14, 160, 58);
  --greenBorder: rgb(14, 160, 58, 0.5);
  --red: rgb(200, 70, 70, 0.2);
  --redBorder: rgb(200, 70, 70, 0.5);
  --redSolid: rgb(200, 70, 70);
  /* --gold: rgb(251, 211, 9, 0.2);
  --goldBorder: rgb(251, 211, 9, 0.4);
  --silver: rgb(130, 130, 130, 0.2);
  --silverBorder: rgb(130, 130, 130, 0.5);
  --orange: rgb(232, 164, 69, 0.2);
  --orangeBorder: rgb(232, 164, 69, 0.5);
  --orangeSolid: rgb(232, 164, 69);
  --yellow: rgb(255, 240, 14, 0.2);
  --yellowBorder: rgb(255, 240, 14, 0.5);
  --blue: rgb(39, 221, 239, 0.2);
  --blueBorder: rgb(39, 221, 239, 0.4); */
  --marginMobile: 0.75rem;
  --marginDesktop: 1rem;
  --imageHeight: 55px;
  --middleLineOffset: 8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "transducer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  background: linear-gradient(0deg, var(--light) 0%, var(--white) 100%);
  background-color: var(--white);
}

body * {
  color: var(--dark);
}

@media (prefers-color-scheme: dark) {
  body * {
    color: var(--light);
  }
}

main {
  position: relative;
  z-index: 20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--marginMobile);
}

h1, h1 * {
  color: var(--dark);
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  position: relative;
  z-index: 10;
}

.page-title > div {
  margin-bottom: -1rem;
}

.title-accent {
  color: var(--accent);
}

.title-text {
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--dark);
}

.page-title::after {
  /* need to set width and transform inside components css module */
  content: "";
  height: 0.75rem;
  border-radius: 2px;
  background-color: var(--accentOpaque);
}

@media (prefers-color-scheme: dark) {

  body {
    background: linear-gradient(0deg, var(--black) 0%, var(--dark) 100%);
    background-color: var(--dark);
  }

  h1, h1 * {
    color: var(--accent);
  }

  .page-title::after {
    background-color: var(--mid);
  }

  .title-text {
    color: var(--light);
  }
}

/******** Desktop Styles ********/
