@import url("https://use.typekit.net/qvl8bhx.css");

:root {
  --black: #0A0A0A;
  --white: #f3dceb;
  --dark: rgba(22,22,22,1);
  --mid: rgb(50, 50, 50);
  --midOpaque: rgba(90, 90, 90, 0.2);
  --light: rgb(255, 207, 231);
  --lightOpaque: rgb(255, 207, 231, 0.2);
  /* --accent: rgba(220, 125, 180); */
  --accent: rgb(198, 96, 155);

  --accentOpaque: rgba(220, 125, 180, 0.6);
  --br: 4px;
  --border1: 1px solid var(--lightOpaque);
  --border2: 2px solid var(--lightOpaque);
  --bs: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --green: rgb(14, 160, 58, 0.2);
  --greenSolid: rgb(14, 160, 58);
  --greenBorder: rgb(14, 160, 58, 0.5);
  --red: rgb(200, 70, 70, 0.2);
  --redBorder: rgb(200, 70, 70, 0.5);
  --redSolid: rgb(200, 70, 70);
  --gold: rgb(251, 211, 9, 0.2);
  --goldBorder: rgb(251, 211, 9, 0.4);
  --silver: rgb(130, 130, 130, 0.2);
  --silverBorder: rgb(130, 130, 130, 0.5);
  --orange: rgb(232, 164, 69, 0.2);
  --orangeBorder: rgb(232, 164, 69, 0.5);
  --orangeSolid: rgb(232, 164, 69);
  --yellow: rgb(255, 240, 14, 0.2);
  --yellowBorder: rgb(255, 240, 14, 0.5);
  --blue: rgb(39, 221, 239, 0.2);
  --blueBorder: rgb(39, 221, 239, 0.4);
  --marginMobile: 0.75rem;
  --marginDesktop: 1rem;
  --imageHeight: 55px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ofelia-display, sans-serif;
  font-style: normal;
}

body {
  background-color: var(--light);
}

body * {
  color: var(--dark);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--marginMobile);
  background: linear-gradient(0deg, var(--light) 0%, var(--white) 100%);
}

button {
  width: fit-content;
  font-size: 1rem;
  color: var(--light);
  font-weight: 800;
  padding: 0.5rem 1rem;
  background-color: var(--dark);
  border: none;
  border-radius: var(--br);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

 button > span {
  transition: 300ms;
  color: var(--light);
 }

 button:hover {
  transform: skewX(-15deg);
}

button:hover > span {
  transform: skewX(15deg);
}


@media (prefers-color-scheme: dark) {

  body {
    background-color: var(--accent);
  }

  body * {
    color: var(--light);
  }

  main {
    background: linear-gradient(0deg, var(--black) 0%, var(--dark) 100%);
  }

  button {
    background-color: var(--accent);
    border: none;
  }

  button > span {
    color: var(--dark);
  }
  
  button:hover:after {
    border: 2px solid var(--dark);
  }
}

@media (width > 768px) {
  button:hover {
    transform: skewX(-15deg);
  }
  
   button > span {
    transition: 300ms;
    color: var(--light);
   }
  
  button:hover > span {
    transform: skewX(15deg);
  }
}