.header {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  /* padding: 1rem 0; */
  position: relative;
  z-index: 10;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  padding-bottom: 0rem;
}

.logo::after {
  /* content: ""; */
  display: inline-block;
  width: 120%;
  height: 0.75rem;
  transform: translate(-10%, 0) skewX(-15deg);
  border-radius: 2px;
  background-color: var(--accentOpaque);
  /* background: linear-gradient(0deg, var(--dark) 0%, var(--mid) 100%); */
}

@media (prefers-color-scheme: dark) {
  .logo::after {
    /* background-color: var(--light); */
    /* background: linear-gradient(0deg, var(--accent) 0%, var(--light) 100%); */
  }
}