.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.title::after {
  width: 120%;
  transform: translateY(-30px) skewX(-15deg);
}

.loginButton {
  position: absolute;
  z-index: 20;
  top: var(--marginMobile);
  right: var(--marginMobile);
}

.loginButton > a > span{
  font-size: 1.25rem;
}