.loader {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .loader div {
   height: 14px;
   width: 14px;
   margin-right: 10px;
   background-color: var(--primary);
   animation: blink 1s infinite, pulse 1s infinite;
   border-radius: 3px;
 }
 
 .loader.small div {
   height: 8px;
   width: 8px;
   margin-right: 6px;
   border-radius: 2px;
 }
 
 .loader div:nth-child(2) {
   animation-delay: .33s;
 }
 
 .loader div:nth-child(3) {
   animation-delay: .66s;
 }
 
 @keyframes blink {
   0% { background-color: var(--primary);}
   50% { background-color: var(--mid); }
   100% { background-color: var(--primary); }
 }
 
 @keyframes pulse {
   0% { transform: scale(1);}
   50% { transform: scale(1.15); }
   100% { transform: scale(1); }
 }